*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(47, 88%, 63%);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.blog{
    background-color: hsl(0, 0%, 100%);
    margin: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    box-shadow:4px 4px 10px rgba(0, 0, 0, 1);
}

img{
    border-radius: 10px;
    margin-bottom: 20px;
}

.h3{
    background-color: hsl(47, 88%, 63%);
    text-transform: capitalize;
    display: inline-block;
    font-family: Figtree , sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    width: fit-content;
}

.publish{
    text-transform: capitalize;
    color: hsl(0, 0%, 7%);
    margin-bottom: 10px;
}

h2{
    font-family: 'Figtree', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}

h2:hover{
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}

.about{
    font-family: Figtree;
    color: hsl(0, 0%, 42%);
    white-space: wrap;
    margin-bottom: 20px;
}

.avatar{
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar img {
    width: 40px;
    height: 40px
}

.avatar-content{
    text-transform: capitalize;
    font-family: Figtree, sans-serif;
    font-weight: 700;
    margin-bottom: 17px;
}

@media screen and (min-width:375px) {
    body{
        display: flex;
    }
}
